In [ ]:
import pandas as pd
import random

In [15]:
import pandas as pd
import random
data_baru = {
    "name": ["azhar", "ryandra", "abdillah", "gofur"],
    "age": [12, 43, 54, 32],
    "live": ["jakarta", "bekasi", "cileungsi", "bekasi"],
    "hobby": ["berenang", "makan", "rebahan", "ngising"]
}

append_new_name =  ["John", "Jane", "Alice", "Bob", "Charlie", "Diana", "Eve", "Frank", "Grace", "Hank"]
append_new_age = list(range(18, 50))
append_new_live = ["jakarta", "bandung", "surabaya", "bekasi", "tangerang", "depok", "bogor", "cianjur", "yogyakarta", "semarang"]
append_new_hobby = ["boker", "baca buku", "meditasi"]

for _ in range(50):
    data_baru["name"].append(random.choice(append_new_name))
    data_baru["age"].append(random.choice(append_new_age))
    data_baru["live"].append(random.choice(append_new_live))
    data_baru["hobby"].append(random.choice(append_new_hobby))

dt_new = pd.DataFrame(data_baru)
dt_new.columns = ["NAME", "AGE", "LIVE", "HOBBY"]
print(dt_new)

        NAME  AGE        LIVE      HOBBY
0      azhar   12     jakarta   berenang
1    ryandra   43      bekasi      makan
2   abdillah   54   cileungsi    rebahan
3      gofur   32      bekasi    ngising
4      Frank   24    semarang      boker
5       John   44    semarang  baca buku
6    Charlie   36      bekasi      boker
7       Jane   34      bekasi  baca buku
8       John   38   tangerang   meditasi
9      Frank   27    semarang      boker
10      John   43     cianjur      boker
11      Jane   43  yogyakarta      boker
12     Diana   32       bogor      boker
13       Eve   42       depok   meditasi
14       Bob   43   tangerang   meditasi
15     Frank   46     jakarta      boker
16     Diana   23     bandung  baca buku
17     Frank   44     jakarta   meditasi
18     Grace   21  yogyakarta   meditasi
19     Diana   34    semarang   meditasi
20      Jane   32   tangerang   meditasi
21     Diana   38    semarang   meditasi
22      John   19     bandung   meditasi
23       Bob   42     bandung      boker
24      John   37      bekasi  baca buku
25      John   22     bandung   meditasi
26      Hank   38     cianjur   meditasi
27     Diana   22     jakarta  baca buku
28     Frank   23     bandung      boker
29      Jane   23  yogyakarta  baca buku
30       Bob   39     bandung      boker
31      Hank   45   tangerang      boker
32      Hank   21     jakarta      boker
33     Diana   47    semarang      boker
34      Jane   31     bandung  baca buku
35     Alice   41      bekasi      boker
36     Frank   39     jakarta  baca buku
37     Grace   34  yogyakarta      boker
38     Alice   42   tangerang      boker
39     Grace   28       bogor  baca buku
40      Jane   25    semarang  baca buku
41       Eve   22      bekasi      boker
42     Frank   33     cianjur  baca buku
43       Eve   49     cianjur   meditasi
44      Hank   20    surabaya   meditasi
45       Eve   27   tangerang  baca buku
46       Bob   24     bandung      boker
47     Alice   41    surabaya   meditasi
48       Eve   18    surabaya      boker
49     Diana   19  yogyakarta      boker
50   Charlie   45   tangerang      boker
51      Jane   47      bekasi      boker
52       Eve   27    surabaya   meditasi
53      Jane   33     jakarta      boker