In [5]:
import pandas as pd
import random

data_person = {
    "nama": ["azhar", "sophie", "monalisa"],
    "umur": [23, 21, 43],
    "domisili": ["jakarta", "bekasi", "cianjur"]
}

nama_baru = ["John", "Jane", "Alice", "Bob", "Charlie", "Diana", "Eve", "Frank", "Grace", "Hank"]
umur_baru = list(range(18, 65)) 
domisili_baru = ["jakarta", "bandung", "surabaya", "bekasi", "tangerang", "depok", "bogor", "cianjur", "yogyakarta", "semarang"]

for _ in range(50):
    data_person["nama"].append(random.choice(nama_baru))
    data_person["umur"].append(random.choice(umur_baru))
    data_person["domisili"].append(random.choice(domisili_baru))

df = pd.DataFrame(data_person)
print(data_person)
print(df.info())

print(data_person)

{'nama': ['azhar', 'sophie', 'monalisa', 'Eve', 'Jane', 'Hank', 'Diana', 'Bob', 'Jane', 'Diana', 'Grace', 'Grace', 'John', 'Alice', 'Hank', 'Diana', 'Eve', 'John', 'Hank', 'Grace', 'Hank', 'Hank', 'Jane', 'Frank', 'Eve', 'Diana', 'Alice', 'Eve', 'Jane', 'John', 'Diana', 'Alice', 'Diana', 'Eve', 'Frank', 'Charlie', 'Alice', 'Jane', 'Grace', 'Frank', 'Bob', 'Hank', 'Eve', 'Frank', 'Hank', 'Diana', 'Grace', 'John', 'John', 'Jane', 'Hank', 'Grace', 'Jane'], 'umur': [23, 21, 43, 54, 39, 25, 44, 35, 24, 41, 61, 20, 27, 28, 57, 43, 20, 48, 33, 57, 41, 60, 56, 45, 56, 35, 62, 42, 44, 27, 34, 63, 22, 48, 45, 52, 30, 64, 63, 63, 33, 53, 61, 58, 42, 37, 33, 40, 33, 64, 60, 37, 20], 'domisili': ['jakarta', 'bekasi', 'cianjur', 'cianjur', 'semarang', 'bekasi', 'bekasi', 'surabaya', 'bogor', 'jakarta', 'surabaya', 'yogyakarta', 'semarang', 'surabaya', 'depok', 'bekasi', 'cianjur', 'surabaya', 'jakarta', 'bogor', 'cianjur', 'tangerang', 'bekasi', 'tangerang', 'depok', 'bogor', 'bekasi', 'depok', 'cianjur', 'depok', 'bekasi', 'surabaya', 'semarang', 'semarang', 'depok', 'yogyakarta', 'bandung', 'bogor', 'yogyakarta', 'bekasi', 'tangerang', 'tangerang', 'cianjur', 'bogor', 'semarang', 'jakarta', 'bogor', 'jakarta', 'yogyakarta', 'tangerang', 'surabaya', 'tangerang', 'yogyakarta']}
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   nama      53 non-null     object
 1   umur      53 non-null     int64
 2   domisili  53 non-null     object
dtypes: int64(1), object(2)
memory usage: 1.4+ KB
None
{'nama': ['azhar', 'sophie', 'monalisa', 'Eve', 'Jane', 'Hank', 'Diana', 'Bob', 'Jane', 'Diana', 'Grace', 'Grace', 'John', 'Alice', 'Hank', 'Diana', 'Eve', 'John', 'Hank', 'Grace', 'Hank', 'Hank', 'Jane', 'Frank', 'Eve', 'Diana', 'Alice', 'Eve', 'Jane', 'John', 'Diana', 'Alice', 'Diana', 'Eve', 'Frank', 'Charlie', 'Alice', 'Jane', 'Grace', 'Frank', 'Bob', 'Hank', 'Eve', 'Frank', 'Hank', 'Diana', 'Grace', 'John', 'John', 'Jane', 'Hank', 'Grace', 'Jane'], 'umur': [23, 21, 43, 54, 39, 25, 44, 35, 24, 41, 61, 20, 27, 28, 57, 43, 20, 48, 33, 57, 41, 60, 56, 45, 56, 35, 62, 42, 44, 27, 34, 63, 22, 48, 45, 52, 30, 64, 63, 63, 33, 53, 61, 58, 42, 37, 33, 40, 33, 64, 60, 37, 20], 'domisili': ['jakarta', 'bekasi', 'cianjur', 'cianjur', 'semarang', 'bekasi', 'bekasi', 'surabaya', 'bogor', 'jakarta', 'surabaya', 'yogyakarta', 'semarang', 'surabaya', 'depok', 'bekasi', 'cianjur', 'surabaya', 'jakarta', 'bogor', 'cianjur', 'tangerang', 'bekasi', 'tangerang', 'depok', 'bogor', 'bekasi', 'depok', 'cianjur', 'depok', 'bekasi', 'surabaya', 'semarang', 'semarang', 'depok', 'yogyakarta', 'bandung', 'bogor', 'yogyakarta', 'bekasi', 'tangerang', 'tangerang', 'cianjur', 'bogor', 'semarang', 'jakarta', 'bogor', 'jakarta', 'yogyakarta', 'tangerang', 'surabaya', 'tangerang', 'yogyakarta']}

In [2]:
import pandas as pd
data_baru = {
    "name": ["azhar", "ryandra", "abdillah", "gofur"],
    "umur": [12, 43, 54, 32],
    "domisili": ["jakarta", "bekasi", "cileungsi", "bekasi"]
}

new_data = pd.DataFrame(data_baru)
print(new_data)

       name  umur   domisili
0     azhar    12    jakarta
1   ryandra    43     bekasi
2  abdillah    54  cileungsi
3     gofur    32     bekasi